body {
    background-image: url(star.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar ul li{
list-style:none;
display:inline-block;
margin: 0 20px;
position:relative;
}
.navbar ul li a{
text-decoration:none;
color: black;
text-transform:uppercase;	
}
.navbar ul li::after{
content: '';
height: 3px;
width: 0;
background: #029ffa;
position:absolute;
left:0;
bottom:-10px;
transition:0.5s;
}
.navbar ul li:hover::after{
width:100%;

}
button{
width: 200px;
padding: 15px 0;
text-align:center;
margin:20px 10px;
border-radius: 25px;
font-weight:bold;
border: 2px solid #f068c7;
background:transparent;
color: white;
cursor: pointer;
position:relative;
overflow:hidden;
}
span{
background:#81d1ff;
height:100%;
width:0;
border-radius: 25px;
position:absolute;
left:0;
bottom:0;
z-index:-1;	
transition: 1s;
}
button:hover span{
width:100%;

}
button:hover{
border:none;
}
.content {
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
color: black;
}
.content h1 {
font-size: 70px;
margin-top: 80px;
}
.content h2 {
margin: 20px auto;
font-weight: 100;
line-height: 25px;
}