.BODY{
	BACKGROUND-IMAGE:URL("Backgrount1.jpeg");
	HEIGHT: 820PX;
	WIDTH: 1350PX;
	}

.TABLE1{
    FONT-FAMILY: 'Times New Roman', SERIF;
	MARGIN-LEFT: AUTO;
	MARGIN-RIGHT: AUTO;
	BACKGROUND-COLOR:#dfb952;
	COLOR:#000000;
	TEXT-ALIGN:CENTER;
	text-shadow: white;
	TEXT-TRANSFORM:CAPITALIZE;
    HEIGHT: 260PX;
    WIDTH: 950PX;
}